/MaxMin/nbproject/private/
/MaxMin/build/
/EndevinaElNumero/nbproject/private/
/EndevinaElNumero/build/
/El7IMig/nbproject/private/
/El7IMig/build/
/MultiplicaFentSumes/nbproject/private/
/MultiplicaFentSumes/build/
/CalculNotaMitjana/nbproject/private/
/CalculNotaMitjana/build/
/CalculNotaMitjanaMajorMenor/nbproject/private/
/CalculNotaMitjanaMajorMenor/build/
/UsernamePassword2/nbproject/private/
/UsernamePassword2/build/
/BuclesinBucles/nbproject/private/
/BuclesinBucles/build/
/BuclesEncaixatFigura1/nbproject/private/
/BuclesEncaixatFigura1/build/
/BuclesEncaixatFigura2/nbproject/private/
/BuclesEncaixatFigura2/build/
/BuclesEncaixatFigura3/nbproject/private/
/BuclesEncaixatFigura3/build/
/BuclesEncaixatFigura4/nbproject/private/
/BuclesEncaixatFigura4/build/
/BuclesEncaixatFigura5/nbproject/private/
/BuclesEncaixatFigura5/build/
/PedraPaperTisores3Victories/nbproject/private/
/PedraPaperTisores3Victories/build/
/ElsRectangles/nbproject/private/
/ElsRectangles/build/
/Formes/nbproject/private/
/Formes/build/
/BUCLES-ENCAIXATS-Divisors/nbproject/private/
/BUCLES-ENCAIXATS-Divisors/build/
/BUCLES-ENCAIXATS-taula html/nbproject/private/
/BUCLES-ENCAIXATS-taula html/build/
/Persona/nbproject/private/
/Persones/nbproject/private/
/EndevinaElNumeroElNormal/nbproject/private/
/EndevinaElNumeroElNormal/build/
/Banc/nbproject/private/
/Banc/build/
/Botiga/nbproject/private/
/Calculadora/nbproject/private/
/Calculs/nbproject/private/
/Calculs/build/
/Colors/nbproject/private/
/Colors/build/
/Persones/build/
/Botiga/build/
/Parking/nbproject/private/
/Parking/build/
/Arrays/nbproject/private/
/Arrays/build/
/ConversioNumeroArrays/nbproject/private/
/ConversioNumeroArrays/build/
/DNI-Arrays/nbproject/private/
/DNI-Arrays/build/
/3Arrays/nbproject/private/
/3Array/nbproject/private/
/3Array/build/
/ArrayDedatAleatories/nbproject/private/
/ArrayDedatAleatories/build/
/ExempleLocalDate/nbproject/private/
/ExempleLocalDate/build/
/Person/nbproject/private/
/Person/build/
