/MaxMin/nbproject/private/
/MaxMin/build/
/EndevinaElNumero/nbproject/private/
/EndevinaElNumero/build/
/El7IMig/nbproject/private/
/El7IMig/build/
/MultiplicaFentSumes/nbproject/private/
/MultiplicaFentSumes/build/
/CalculNotaMitjana/nbproject/private/
/CalculNotaMitjana/build/
